 # Virtual environment
venv/
ENV/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# OS files
.DS_Store

# Large data
*.mp4
*.mkv
*.mp3
*.wav
*.flac
*.zip
*.tar.gz
*.egg-info/
